*{
  font-family: Arial, Helvetica, sans-serif;
  color:grey;
  border-color: lightgray;
}

.card{
  background-color:rgba(179, 175, 162, 0.753);

}

h1{
  font-weight: 800;
  text-align: center;
  font-size: 50px;
  background-color: beige;
  width: 400px;
  margin-left:275px;
  border-radius: 25px;
}

h2{
background-color: beige;
font-size: 35px;
text-align: center;
font-weight:100;
}

.decobox1{
  background-color: beige;
  font-size: 35px;
  padding:10px;
  margin-left:325px;
  margin-right:250px;
  

}

h3 {
  font-size:30;
  background-color: beige;
  border-radius: 25px;
  text-align: center;
  height:20px;
  width: 150px;
  margin-left: 400px;
  padding: 25px;

}
.stylebox{
  background-color: beige;
  width:500px;
  border-radius: 10px;
  margin-left:250px;
  
}

img{
  margin-left: 8px;
 
}
